.cube-container{
  width: 200px;
  height: 200px;
  margin: 300px auto;
  perspective: 1000px;
}
.cube{
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateY(20px);
  animation: cube-anima 10s  infinite linear;
}
.cube div{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 200px;
}
.front{
  transform: translateZ(100px);
  background-color: #fbf08f;
}
.back{
  transform: translateZ(-100px) rotateY(180deg);
  background-color: #f3b3be;
}
.left{
  transform: rotateY(-90deg) translateZ(100px);
  background-color: #3becd4;
}
.right{
  transform: rotateY(90deg) translateZ(100px);
  background-color: #68c7f3;
}
.top{
  transform: translateY(-100px) rotateX(90deg);
  background-color:#e8b9f1;
}
.bottom{
  transform: translateY(100px) rotateX(-90deg);
  background-color:#f5867e;
}
@keyframes cube-anima{
  0%{
    transform: rotateX(0deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(360deg) rotateY(360deg);
  }
}